#miamor {
  zoom: 50%;
  padding: 100px;
  background: 10px red;
  border: 50px solid black;
  font-size: 25px;
  color: red;
  -webkit-box-shadow: -46px 0px 37px -2px rgba(0, 0, 0, 0.73);
  -moshadow-box-shadow: -46px 0px 37px -2px rgba(122, 28, 122, 0.73);
  box-shadow: -46px 0px 37px -2px rgba(0, 0, 0, 0.73);
}

.carta-amor {
  background:5px black ;
  border: 5px solid red;
}

#imagen {
  width: 300px;
  height: 300px;
}
.alert {
  background-color: red;
  background-image: url(alert.png);
}

.corazon {
  color:30px red (232, 0, 0) !important;
}

.corazonmorado{

  color: purple !important;
}

.centro {
  padding-top: 90px;
}

#titulo {
  padding-left: 90px;
}

.oculto,.oculto1 {
  display: none;
}
img {
  filter: drop-shadow(5px 5px 10px red);
}
